body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.534);
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.search-bar {
  align-items: center;
  border: solid 2px rgb(141, 141, 141);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 5px;
}

.addMovie-field {
  align-items: center;
  border: solid 2px rgb(141, 141, 141);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  padding: 5px;
}

.addMovie-item {
  border: solid 2px rgb(145, 145, 145);
  margin: 5px;
  width: 20vw;
}

.addMovie-button {
  background-color: rgb(223, 223, 223);
  border: solid 2px rgb(145, 145, 145);
  border-radius: 5px;
  color: rgb(85, 85, 85);
  padding: 5px 10px;
}
