form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

input , select , textarea {
  margin: 5px;
  width: 100%;
}

label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
}
